:root {
    --primary-color: #88CCF1;
    --primary-color-dark: #C1DFF0;
    --secondary-color: #3587A4;
    --secondary-color-dark: #318697;
    --gray-color: #2D848A;
    --gray-color-dark: #2D898B;
}